# Build
build
build-*
*-deploy

# VS Code
.vscode

# Qt Creator
.qtcreator
*.txt.user

# Python
venv
.venv
env
.env

# Docs
*.drawio.bkp

# Static
*.min.*

# Development
*.env
*.db
*.deb

# Others
buildroot
old